# Java build output
out/
**/out/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
.kotlin/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
**/bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp
